:root{
  --green:rgb(16, 194, 1);
  --dgreen:rgb(12, 148, 12);
  --grey:rgb(237, 236, 236);
  --orange:rgb(255, 123, 0);
}
*{
  box-sizing: border-box;
}
/* .navbar{
  background-color: var(--green);
} */
h1{
  color: var(--green);
}
body{
  background-color: var(--grey);
  margin: 0;
}
/* .button, button{
  border: none;
  background-color: var(--green);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 5px 15px;
  margin: 5px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
.button:hover, button:hover{
  background-color: var(--dgreen);
  transition-duration: 0.5s;
  color: white;
} */

.box,.box-top{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  margin: 0px;
  box-shadow: 3px 3px 8px silver;
}
/* Test Log */
span.value{
  color: var(--dgreen);
  font-weight: normal;
}
span.header{
  color: var(--orange);
  font-weight: bold;
}
/* Incident.html */
.block {
  background-color: rgb(255, 255, 255);
  padding: 0 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px silver;
}
.sub-topic{
  font-size: 1.2rem;
}
.sub-topic-2{
  font-size: 0.9rem;
}
.topic{
  color: var(--orange);
  font-weight: bold;
}
/* labels */
label input[type="checkbox"] {
  display: none;
}
label span {
  display: inline-block;
  padding: 3px 10px;
  margin: 5px 0px;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  color: #808080;
  background-color: #dddddd;
}
.label:checked + span{
  background-color: var(--green);
  color: rgb(255, 255, 255);
  font-style: bold;
}
.label:hover + span{
  background-color: var(--green);
  transition-duration: 0.5s;
  color: white;
}
.pagination > li > a
{
  background-color: white;
  color: var(--green);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a
{
  color: white;
  background-color: var(--green) !Important;
  border: 1px solid var(--green);
}

/* lg >= 992 */
@media (max-width:992px){
  * {
    font-size: 0.9rem;
    color: red;
  }
}
/* md >= 768 */
@media (max-width:768px){
  * {
    font-size: 0.8rem;
    color: blue;
  }
}