{% extends "base.html" %}

{% block title %}
    <title>About</title>
{% endblock %}

{% block content %}
<div class="container-md px-4">
    <h1 class="mb-4">Autonomous Vehicle testing Dashboard</h1>
    <div class="about-container">
        <h5>Features</h5>
        <ul>
            <li>Interactive dashboard summarizing all vehicle test drive data from database</li>
            <li>Individual test dashboard displaying incident occurences respect to vehicle parameters
                (e.g acceleration, brake input, drive mode etc.) and the map of the location. 
                User can get each test data by downloading CSV file</li>
            <li>Query incident videos which are stored on drive. Incidents are catagorized with labels 
                related to the cause and are divided into subcategories. User can select multiple labels 
                with and/or condition. Allow *RUD operations on labels</li>
            <li>Test log form for recording additional information about incident during vehicle testing.
                Allow CRUD operations on logs</li>
            <li>Responsive web design and provide pagination</li>
        </ul>
    
        <h5>Tools</h5>
        <ul>
            <li>Database: MongoDB Atlas (Pymongo & Djongo)</li>
            <li>Framework: Django</li>
            <li>Visualizations: Ploty</li>
            <li>HTML, CSS, Bootstrap</li>
        </ul>
    </div>

</div>   
{% endblock %}