{% extends "base.html" %}

{% block title %}
    <title>About</title>
    <style>
        ul{
            padding: 0;
            list-style-position: inside;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container-lg">
    <h1 class="mb-3">About</h1>
    <ul><h5>Applications</h5>
        <li>Provide an interactive dashboard summarizing test drive data from database</li>
        <li>Query and display test drive data including vehicle parameters and incident occurences</li>
        <li>Query Incidents from labels which are based on their causes, display video from google drive, allow *RUD operations on labels and provide pagination for long query results</li>
        <li>Test log for recording additional information about incident which developers can refer to when labeling incident. Allow CRUD operations and pagination</li>
        <li>Responsive web design</li>
    </ul>

    <ul><h5>Tools</h5>
        <li>Database: MongoDB Atlas (PyMongo&Djongo)</li>
        <li>Framework: Django</li>
        <li>Visualizations: Ploty</li>
    </ul>

</div>   
{% endblock %}