{% extends "base.html" %}

{% block title %}
    <title>Edit Log</title>
    <style>
        .row{
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- <h1>Edit Log</h1> -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-lg-6">
                    <form method="post" action="">
                        {% csrf_token %}
                        <h1 class="text-center mb-4">Edit Log</h1>

                        <div class="row mb-3">
                            <div class="form-group col-md-6">
                                <label for="driver">Driver</label>
                                <input type="text" class="form-control" id="driver" name="driver" value="{{ log.driver }}">
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="form-group col-md-6">
                                <label for="date">Old Date</label>
                                <input type="text" class="form-control" id="date" name="date" value="{{ log.date }}" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="date">New Date</label>
                                <input type="date" class="form-control" id="date" name="date" value="{{ log.date }}">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="form-group col-md-6">
                                <label for="time">Old Time</label>
                                <input type="text" class="form-control" id="time" name="time" value="{{ log.time }}" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="time">New Time</label>
                                <input type="time" class="form-control" id="time" name="time" value="{{ log.time }}">
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="form-group col-md-6">
                                <label for="location">Location</label>
                                <input type="text" class="form-control" id="location" name="location" value="{{ log.location }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="vehicle">Vehicle</label>
                                <input type="text" class="form-control" id="vehicle" name="vehicle" value="{{ log.vehicle }}">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="form-group col-md-3">
                                <label for="label">Old Label</label>
                                <input type="text" class="form-control" id="label" name="label" value="{{ log.label }}" disabled>
                            </div>
                            <div class="form-group col-md-9">
                                <p>New Label</p>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="battery">Battery</label>
                                    <input class="form-check-input" type="radio" name="label" id="battery" value="Battery">
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="sensing">Sensing</label>
                                    <input class="form-check-input" type="radio" name="label" id="sensing" value="Sensing">
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="localization">Localization</label>
                                    <input class="form-check-input" type="radio" name="label" id="localization" value="Localization">
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="planning">Planning</label>
                                    <input class="form-check-input" type="radio" name="label" id="planning" value="Planning">
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="node">Computing Node</label>
                                    <input class="form-check-input" type="radio" name="label" id="node" value="Computing Node">
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="incident">Incident</label>
                                    <input class="form-check-input" type="radio" name="label" id="incident" value="Incident">
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="note">Remarks</label>
                            <!-- <input type="text" class="form-control" id="note" name="note" value="{{ log.note }}"> -->
                            <textarea class="form-control" name="note" id="note" cols="30" rows="3">{{ log.note }}</textarea>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary w-100 mx-0" 
                            >Submit</button>
                        </div>
                    </form>
                </div>
            </div>      
        </div>
    </div>
{% endblock %}