{% extends "base.html" %}

{% block title %}
    <title>Incident Query</title>
{% endblock %}

{% block content %}
        <div class="container-lg" >
            <h1 class="mb-3">Incident Query</h1>
            <!-- messages -->

            {% if not user.is_authenticated %}
            <div class="alert alert-danger" role="alert">
                Please log in to edit/delete
            </div>
            {% endif %}

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            
            <div class="containter-fluid">
                
                <!-- Label Table  -->
                <!-- <div id="label-table-container">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="label-table">
                            <table class="table table-light" border="1" cellpadding="10">
                                <thead>
                                    <th colspan="3">
                                        {% if 'External' in selected %}
                                            <label>
                                                <input class="label" type="checkbox" name="label" value="External" onclick="recordLabel(this.value)" checked>
                                                <span style="padding-left: 50px; padding-right: 50px;">External</span>
                                            </label>
                                        {% else %}
                                            <label>
                                                <input class="label" type="checkbox" name="label" value="External" onclick="recordLabel(this.value)">
                                                <span style="padding-left: 50px; padding-right: 50px;">External</span>
                                            </label>
                                        {% endif %}
                                    </th>
                                    <th colspan="2">
                                        {% if 'Internal' in selected %}
                                            <label>
                                                <input class="label" type="checkbox" name="label" value="Internal" onclick="recordLabel(this.value)" checked>
                                                <span style="padding-left: 50px; padding-right: 50px;">Internal</span>
                                            </label>
                                        {% else %}
                                            <label>
                                                <input class="label" type="checkbox" name="label" value="Internal" onclick="recordLabel(this.value)">
                                                <span style="padding-left: 50px; padding-right: 50px;">Internal</span>
                                            </label>
                                        {% endif %}
                                    </th>
                                </thead>
                                <tbody  align="left" valign="top">
                                    <tr> 
                                        {% for topic,arr in labels.items %}
                                            <td class="sub-topic">
                                                {% if topic in selected %}
                                                    <label>
                                                        <input class="label" type="checkbox" name="label" value="{{topic}}" onclick="recordLabel(this.value)" checked>
                                                        <span>{{topic}}</span>
                                                    </label>
                                                {% else %}
                                                    <label>
                                                        <input class="label" type="checkbox" name="label" value="{{topic}}" onclick="recordLabel(this.value)">
                                                        <span>{{topic}}</span>
                                                    </label>
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        {% for topic,arr in labels.items %}
                                            <td class="sub-topic-2">
                                            {% for label in arr %}
                                                {% if label in selected %}
                                                    <label>
                                                        <input class="label" type="checkbox" name="label" value="{{label}}"
                                                         onclick="recordLabel(this.value)" checked>
                                                         <span>{{label}}</span>
                                                    </label>
                                                {% else %}
                                                    <label>
                                                        <input class="label" type="checkbox" name="label" value="{{label}}" onclick="recordLabel(this.value)">
                                                        <span>{{label}}</span>
                                                    </label>
                                                {% endif %}
                                            {% endfor %}
                                            </td>
                                        {% endfor %}
                                    </tr> 
                                    <tr>
                                        <td colspan="5">
                                            {% if "" in selected %}
                                            <label>
                                                <input class="label" type="checkbox" name="label" value="" onclick="recordLabel(this.value)" checked>
                                                <span style="padding-left: 100px; padding-right: 100px;">No Label</span>
                                            </label>
                                            {% else %}
                                            <label>
                                                <input class="label" type="checkbox" name="label" value="" onclick="recordLabel(this.value)">
                                                <span style="padding-left: 100px; padding-right: 100px;">No Label</span>
                                            </label>
                                            {% endif %}
                                        </td>
                                    </tr>  
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="container-xl">
                            <div style="margin: 5px 0; margin-left: 5px;">
                                <span>Operation :&nbsp;</span>
                                {% if operation == 'OR' %}
                                    <input class="form-check-input" type="radio" id="and" name="operation"
                                            value="AND" onclick="recordOperation(this.value)">
                                    <label for="and">And&nbsp;</label>
            
                                    <input class="form-check-input" type="radio" id="or" name="operation"
                                            value="OR" onclick="recordOperation(this.value)" checked>
                                    <label for="and">Or</label>
                                {% else %} 
                                    <input class="form-check-input" type="radio" id="and" name="operation"
                                            value="AND" onclick="recordOperation(this.value)" checked>
                                    <label for="and">And&nbsp;</label>
            
                                    <input class="form-check-input" type="radio" id="or" name="operation"
                                            value="OR" onclick="recordOperation(this.value)">
                                    <label for="and">Or</label>
                                {% endif %}
                            </div>
    
                            <div style="margin-top: 5px; margin-bottom: 20px; margin-left: 5x;">
                                <button type="button" class="btn btn-success" onclick ="changeUrl()">Submit</button> 
                                <a href="/incident" class="btn btn-secondary" class="button">Clear</a>
                            </div>
                        </div>
                    </form>
                </div> -->

                <!-- VIDEO -->
                <div class="container-fluid p-0">
                    <button class="mb-2 btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvasExample">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Filter
                    </button>
                    <!-- Offcanvas -->          
                    <div 
                        class="offcanvas offcanvas-start"  
                        data-bs-scroll="true" 
                        data-bs-backdrop="true" 
                        tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">

                        <button type="button" class="btn-close text-reset position-absolute" style="top: 20px;right: 20px;"
                        data-bs-dismiss="offcanvas" aria-label="Close"></button>

                        <div class="offcanvas-body">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="label-table">
                                    <!-- Top level -->
                                    <div class="mb-2">
                                        <h5>Factor</h5>
                                        <div>
                                        {% if 'External' in selected %}
                                            <label>
                                                <input class="label" type="checkbox" name="label" value="External" onclick="recordLabel(this.value)" checked>
                                                <span>External</span>
                                            </label>
                                        {% else %}
                                            <label>
                                                <input class="label" type="checkbox" name="label" value="External" onclick="recordLabel(this.value)">
                                                <span>External</span>
                                            </label>
                                        {% endif %}

                                        {% if 'Internal' in selected %}
                                            <label>
                                                <input class="label" type="checkbox" name="label" value="Internal" onclick="recordLabel(this.value)" checked>
                                                <span>Internal</span>
                                            </label>
                                        {% else %}
                                            <label>
                                                <input class="label" type="checkbox" name="label" value="Internal" onclick="recordLabel(this.value)">
                                                <span>Internal</span>
                                            </label>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <hr>
                                    {% for topic,arr in labels.items %}
                                    <div class="mb-2">
                                        <h5>{{topic}}</h5>
                                        <div>
                                        <!-- 3rd level -->
                                        {% for label in arr %} 
                                            {% if label in selected %}
                                                <label>
                                                    <input class="label" type="checkbox" name="label" value="{{label}}"
                                                        onclick="recordLabel(this.value)" checked>
                                                        <span>{{label}}</span>
                                                </label>
                                            {% else %}
                                                <label>
                                                    <input class="label" type="checkbox" name="label" value="{{label}}" onclick="recordLabel(this.value)">
                                                    <span>{{label}}</span>
                                                </label>
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <hr>
                                    <div class="mb-2">
                                        <h5>No label</h5>
                                        <div>
                                            {% if "" in selected %}
                                            <label>
                                                <input class="label" type="checkbox" name="label" value="" onclick="recordLabel(this.value)" checked>
                                                <span>No Label</span>
                                            </label>
                                            {% else %}
                                            <label>
                                                <input class="label" type="checkbox" name="label" value="" onclick="recordLabel(this.value)">
                                                <span>No Label</span>
                                            </label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="mt-2">
                                    <div>
                                        <span>Operation :&nbsp;</span>
                                        <!-- default AND -->
                                        {% if operation == 'OR' %}
                                            <input class="form-check-input" type="radio" id="and" name="operation"
                                                    value="AND" onclick="recordOperation(this.value)">
                                            <label for="and">And&nbsp;</label>
                    
                                            <input class="form-check-input" type="radio" id="or" name="operation"
                                                    value="OR" onclick="recordOperation(this.value)" checked>
                                            <label for="and">Or</label>
                                        {% else %} 
                                            <input class="form-check-input" type="radio" id="and" name="operation"
                                                    value="AND" onclick="recordOperation(this.value)" checked>
                                            <label for="and">And&nbsp;</label>
                    
                                            <input class="form-check-input" type="radio" id="or" name="operation"
                                                    value="OR" onclick="recordOperation(this.value)">
                                            <label for="and">Or</label>
                                        {% endif %}
                                    </div>
                                    <!-- SUBMIT -->
                                    <div class="mt-2">
                                        <!-- <button type="submit">Submit</button>  -->
                                        <button type="button" class="btn btn-success" onclick ="changeUrl()">Submit</button> 
                                        <a href="/incident" class="btn btn-outline-danger">Clear</a>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                    
                    <div class="mb-2 d-flex flex-wrap pe-3">
                        <div class="me-3">
                            <span>Selected({{ operation }}): </span>
                            {% for label in selected %}
                                <span class="btn-label">{{ label }}</span>
                            {% endfor %}
                        </div>
                        <div>{{ query|length }} Results </div>
                    </div>
                    
                    {% for incident in query_p %}
                        <div class="block" id="block-{{ forloop.counter }}">
                            <div class="row">
                                <!-- VIDEO -->
                                <div class="col-12 col-lg-8 block-vid" id="vid-{{ forloop.counter }}" style="padding: 0;">
                                    <script>
                                        showVid('{{ incident.url }}', 'vid-{{ forloop.counter }}')
                                        function showVid(url, id){
                                            url = url.split('/view?usp=drivesdk')[0] + '/preview';
                                            e = document.getElementById(id)
                                            // e.style.backgroundColor = 'rgb(5, 217, 5)';
                                            let vid = document.createElement('iframe');
                                            vid.setAttribute('class', 'vid-frame');
                                            vid.src = url;
                                            vid.width = '100%';
                                            vid.style.aspectRatio = 16/9;
                                            vid.style.display = 'block';
                                            // vid.style.borderRadius = '10px'
                                            e.appendChild(vid);
                                        }
                                    </script>
                                </div>
        
                                <div class="col-12 col-lg-4 block-text">

                                    <div class="row incident-info">
                                        <div class="col-5 col-lg-12 pb-1"><span class="topic">Stamp:</span> <span class="value">{{ incident.stamp }}</span></div>
                                        <div class="col-6 col-lg-12 pb-1"><span class="topic">Testdrive:</span> <span class="value">{{ incident.testdrive }}</span></div>
                                        <div class="col-2 col-lg-12 pb-1"><span class="topic">Vehicle:</span> <span class="value">{{ incident.vehicle }}</span></div>
                                        <div class="col-3 col-lg-12 pb-1"><span class="topic">Location:</span> <span class="value">{{ incident.location }}</span></div>
                                        <div class="col-3 col-lg-12 pb-1"><span class="topic">Date:</span> <span class="value">{{ incident.date }}</span></div>
                                        <div class="col-3 col-lg-12 pb-1"><span class="topic">Time:</span> <span class="value">{{ incident.time }}</span></div>
                                  
                                        <div class="col-12">
                                            <span class="topic">Labels:</span> 
                                            {% for label in incident.tags %}
                                                <span class="btn-label">{{ label }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="my-2">
                                        <a href="/edit/{{incident.stamp}}" class="btn btn-dark ms-0" id="edit-button">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                            edit</a>
                                        <a href="/delete/{{incident.stamp}}" class="btn btn-outline-danger" id="delete-button"
                                            onclick="return confirm('Confirm deletion')">
                                            <i class="fa-solid fa-trash"></i>
                                            delete</a>
                                    </div>
                                </div>
                            </div>
        
                            <!-- <div id="video"></div> -->
                        </div>
                    {% endfor %}
                </div>

    
                <br>
                <!-- pagination -->
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                    {% if query_p.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?q1={{ operation }}&q2={{ selected|join:'_' }}&page=1" aria-label="First">
                        <span aria-hidden="false">&laquo;First</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disable">
                        <a class="page-link">&laquo;First</a>
                    </li>
                    {% endif %}
                    
                    {% if query_p.number|add:'-2' > 1 and query_p.paginator.num_pages < query_p.number|add:'2' %}
                    <li class="page-item"><a class="page-link" 
                        href="?q1={{ operation }}&q2={{ selected|join:'_' }}&page={{ query_p.number|add:'-2' }}"> &hellip; </a></li>
                    {% endif %}

                    {% for i in query_p.paginator.page_range %}
                        {% if i == query_p.number %}
                        <li class="page-item active"><a class="page-link" 
                            href="?q1={{ operation }}&q2={{ selected|join:'_' }}&page={{ i }}">{{ i }}</a></li>
                        {% elif i > query_p.number|add:'-2' and i < query_p.number|add:'2' %}
                        <li class="page-item"><a class="page-link" 
                            href="?q1={{ operation }}&q2={{ selected|join:'_' }}&page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if query_p.paginator.num_pages > query_p.number|add:'3' %}
                    <li class="page-item"><a class="page-link" 
                        href="?q1={{ operation }}&q2={{ selected|join:'_' }}&page={{ query_p.paginator.num_pages|add:'-2' }}">
                        &hellip; </a>
                    </li>
                    <li class="page-item"><a class="page-link" 
                        href="?q1={{ operation }}&q2={{ selected|join:'_' }}&page={{ query_p.paginator.num_pages|add:'-1' }}">
                        {{ query_p.paginator.num_pages|add:'-1' }}</a>
                    </li>
                    {% endif %}
    
                    {% if query_p.has_next %}
                        <li class="page-item"><a class="page-link" 
                            href="?q1={{ operation }}&q2={{ selected|join:'_' }}&page={{ query_p.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="false">Last&raquo;</span></a>
                        </li>
                    {% else %}
                        <li class="page-item disable">
                            <a class="page-link">Last&raquo;</a>
                        </li>
                    {% endif %}
                    </ul>
                </nav>
            </div>
        

            <script>
                function showVid(e, url, index){
                    url = url.split('/view?usp=drivesdk')[0] + '/preview';
                    e.style.backgroundColor = 'rgb(5, 217, 5)';
                    let vid = document.createElement('iframe');
                    vid.src = url
                    e.appendChild(vid);
                }
                function changeUrl(){
                    operation = document.querySelector('.form-check-input:checked').value;
                    let selected = document.querySelectorAll('.label:checked'); // return node list
                    selected = Array.prototype.slice.call(selected);
                    let newSelected = selected.map(item => { return item.value });
                    document.location.href=`?q1=${ operation }&q2=${ newSelected.join('_') }&page=1`;
                }
                let labelArr = [], operation = '';
                function recordLabel(label){
                    labelArr.push(label)
                    console.log('label: ',labelArr);
                }
                function recordOperation(opt){
                    console.log('operation: ',opt);
                }

            </script>

        </div>
{% endblock %}