{% extends "base.html" %}

{% block title %}
    <title>Home</title>
    <style>
        body{
            background-image: url('https://image.springnews.co.th/uploads/images/contents/w1024/2022/06/iAFyK8OefKH6htueiDVH.webp');
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            background-blend-mode:multiply;
            background-color: rgb(76, 76, 76);
        }

    </style>
{% endblock %}

{% block content %}

    <div class="container-fluid" style="padding-top: 20px; padding-left: 40px;">
        <h1 style="font-size: 60px; font-weight: normal;">Home</h1>
        <br>
    </div>

    <!-- <img src="https://os.mreport.co.th/medias/module-news/photo/Connected-and-Autonomous-Vehicle-5g-Faculty-of-Engineering-Chulalongkorn.jpg" alt=""> -->
{% endblock %}