{% extends "base.html" %}

{% block title %}
    <title>New Log</title>
{% endblock %}

{% block content %}

        <!-- messages -->
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endfor %}
        {% endif %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-lg-6">
                    <form method="post" action="new-log">
                        {% csrf_token %}
                        <h1 class="text-center mb-4">New Test Log</h1>

                        <div class="form-row mb-3">
                            <div class="form-group col-md-12">
                                <label for="driver">Driver</label>
                                <input type="text" class="form-control" id="driver" name="driver" placeholder="Name">
                            </div>
                        </div>
                        
                        <div class="form-row row mb-3">
                            <div class="form-group col-md-6">
                                <label for="date">Date</label>
                                <input type="date" class="form-control" id="date" name="date">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="time">Time</label>
                                <input type="time" class="form-control" id="time" name="time">
                            </div>
                        </div>

                        <div class="form-row row mb-3">
                            <div class="form-group col-md-6">
                                <p>Location</p>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="location" id="CU" value="CU">
                                    <label class="form-check-label" for="CU">CU</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="location" id="NBTC" value="NBTC">
                                    <label class="form-check-label" for="NBTC">NBTC</label>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <p>Vehicle</p>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="vehicle" id="T1" value="T1">
                                    <label class="form-check-label" for="T1">T1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="vehicle" id="T2-W" value="T2-W">
                                    <label class="form-check-label" for="T2-W">T2-W</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="vehicle" id="T2-B" value="T2-B">
                                    <label class="form-check-label" for="T2-B">T2-B</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <div class="form-group col-md-12">
                                <p>Label</p>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="label" id="battery" value="Battery">
                                    <label class="form-check-label" for="battery">Battery</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="label" id="sensing" value="Sensing">
                                    <label class="form-check-label" for="sensing">Sensing</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="label" id="localization" value="Localization">
                                    <label class="form-check-label" for="localization">Localization</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="label" id="planning" value="Planning">
                                    <label class="form-check-label" for="planning">Planning</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="label" id="node" value="Computing Node">
                                    <label class="form-check-label" for="node">Computing Node</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="label" id="incident" value="Incident">
                                    <label class="form-check-label" for="incident">Incident</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label for="note">Remarks</label>
                            <!-- <input type="text" class="form-control" id="note" name="note" placeholder="Remarks"> -->
                            <textarea class="form-control" name="note" id="note" cols="30" rows="3"></textarea>
                        </div>
                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary w-100 mx-0">Submit</button>
                        </div>
                    </form>
                </div>
            </div>      
        </div>
        <script>
            var d = new Date();
            document.getElementById('date').valueAsDate = d;
            var time = d.toLocaleTimeString("en-GB", {hour: '2-digit', minute:'2-digit', second:"2-digit", hour12: false});
            console.log(time)
            document.getElementById('time').defaultValue = time;
        </script>

{% endblock %}