{% extends "base.html" %}

{% block title %}
    <title>Test Log</title>

{% endblock %}

{% block content %}
    <div class="container-lg">

            <h1 class="mb-3">Test Log</h1>
            <a class="btn btn-outline-success mb-3" href="/log/new">
                New Log</a>
            
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{message}}
                </div>
            {% endfor %}
            {% endif %}

            <div class="log-table">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col"><span class="header">Id</span></th>
                            <th scope="col"><span class="header">Stamp</span></th>
                            <th scope="col"><span class="header">Date</span></th>
                            <th scope="col"><span class="header">Time</span></th>
                            <th scope="col"><span class="header">Driver</span></th>
                            <th scope="col"><span class="header">Vehicle</span></th>
                            <th scope="col"><span class="header">Location</span></th>
                            <th scope="col"><span class="header">Labels</span></th>
                            <th scope="col"><span class="header">Remark</span></th>
                            <th scope="col"><span class="header">Action</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in log_p %}
                        <tr>
                            <td><span class="value">{{ log.id }}</span></td>
                            <td><span class="value">{{ log.stamp }}</span></td>
                            <td><span class="value">{{ log.date }}</span></td>
                            <td><span class="value">{{ log.time }}</span></td>
                            <td><span class="value">{{ log.driver }}</span></td>
                            <td><span class="value">{{ log.vehicle }}</span></td>
                            <td><span class="value">{{ log.location }}</span></td>
                            <td><span class="value">{{ log.label }}</span></td>
                            <td><span class="value">{{ log.note }}</span></td>
                            <td class="btn-col">
                                <a href="/log/edit/{{log.id}}" class="btn btn-dark">
                                    <i class="fa-solid fa-pen"></i>
                                    edit</a>
                                <a href="/log/delete/{{log.id}}" class="btn btn-outline-danger"
                                onclick="return confirm('Confirm Deletion')"
                                >
                                <i class="fa-solid fa-trash"></i>
                                delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        <br>
            <!-- pagination -->
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                {% if log_p.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="false">&laquo;First</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disable">
                    <a class="page-link">&laquo;First</a>
                </li>
                {% endif %}

                {% if log_p.number|add:'-2' > 1 and log_p.paginator.num_pages < log_p.number|add:'2' %}
                <li class="page-item"><a class="page-link" href="?page={{ log_p.number|add:'-2' }}"> &hellip; </a></li>
                {% endif %}

                {% for i in log_p.paginator.page_range  %}
                    {% if i == log_p.number %}
                    <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% elif i > log_p.number|add:'-2' and i < log_p.number|add:'2' %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if log_p.paginator.num_pages > log_p.number|add:'3' %}
                <li class="page-item"><a class="page-link" 
                    href="?page={{ log_p.paginator.num_pages|add:'-2' }}">&hellip;</a>
                </li>
                <li class="page-item"><a class="page-link" 
                    href="?page={{ log_p.paginator.num_pages|add:'-1' }}">{{ log_p.paginator.num_pages|add:'-1' }}</a>
                </li>
                {% endif %}

                {% if log_p.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ log_p.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="false">Last&raquo;</span></a>
                </li>
                {% else %}
                <li class="page-item disable">
                    <a class="page-link">Last&raquo;</a>
                </li>
                {% endif %}
                </ul>
            </nav>
    </div>
{% endblock %}