{% extends "base.html" %}

{% block title %}
    <title>Summary</title>
    <style>
        .box-top > h5, h5{
            font-size: calc(0.5vw + 1em);
        }
        .box-top > p{
            font-size: calc(1.25vw + 1em);
            text-align: center;
            color: rgb(13, 246, 16);
        }
        .box-model span{
            color: rgb(255, 111, 0);
            /* font-size: calc(0.75vw + 0.5em); */
        }
        .box-model > *{
            font-size: calc(0.25vw + 0.75em);
        }
        
        /* .box,.box-top{
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 10px ;
        margin: 0px;
        box-shadow: 5px 5px 5px rgb(166, 166, 166);
        } */
        [class|=col]{
            /* margin:5px !important; */
            padding: 7px !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1 style="margin-left: 10px;">Summary</h1>     
        <div class="container-fluid">
            <div class="row">
                <div class="col-4 col-lg-2 align-self-center">
                    <div class="box-top col-md-12">
                        <h5>Test drive</h5>
                        <p>20 tests</p>
                    </div>
                </div>
                <div class="col-4 col-lg-2 align-self-center">
                    <div class="box-top col-md-12">
                        <h5>Mileages</h5>
                        <p>12,970 m</p>
                    </div>
                </div>
                <div class="col-4 col-lg-2 align-self-center">
                    <div class="box-top col-md-12">
                        <h5>Auto%</h5>
                        <p>80.5% avg</p>
                    </div>
                </div>
                <div class="col-4 col-lg-2 align-self-center">
                    <div class="box-top col-md-12">
                        <h5>Incident</h5>
                        <p>12 records</p>
                    </div>
                </div>
                <div class="col-8 col-lg-4 align-self-center">
                    <div class="box-top col-md-12">
                        <h5>Model</h5>
                        <div class="row justify-content-center" style="text-align: center; margin-bottom: 1em;">
                            <div class="box-model col-6 col-sm-4 col-lg-6">
                                <div>Condition 1</div>
                                <div>Precision <span>0.50</span>&nbsp;&nbsp;Recall <span>0.17</span></div>
                            </div>
                            <div class="box-model col-6 col-sm-4 col-lg-6">
                                <div>Condition 2</div>
                                <div>Precision <span>0.43</span>&nbsp;&nbsp;Recall <span>0.83</span></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row ">
                <div class="col-12 col-lg-6 align-self-center">
                    <div class="box col-md-12">
                        <h5>Mileages by Month</h5>
                        <div class="row">
                            <div class="col-md-8">
                                {{ chart2|safe }}
                            </div>
                            <div class="col-md-4 align-self-center">
                                {{ chart3|safe }}
                            </div>
                        </div>  
                    </div>
                </div>

                <div class="col-12 col-lg-6 align-self-center">
                    <div class="box col-md-12">
                        <h5>Mileages by Vehicle</h5>
                        <div class="row">
                            <div class="col-md-8">
                                {{ chart4|safe }}
                            </div>
                            <div class="col-md-4 align-self-center">
                                {{ chart5|safe }}
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="box col-md-12">
                        <h5>Autonomous Percentage</h5>
                        <br>
                        {{ chart1|safe }}
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="box col-md-12">
                        <h5>Incident Numbers</h5>
                        {{ incident_num_chart|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}