{% extends "base.html" %}

{% block title %}
    <title>Summary</title>
    <style>
        [class|=col]{
            padding: 7px !important;
        }
        /* @media(max-width:992px){
            .box-top > h5, h5{
                font-size: 1.2rem;
            }
            .box-top > p{
                font-size: 1.5rem;
            }
        }
        @media(max-width:576px){
            .box-top > h5, h5{
                font-size: 0.8rem;
            }
            [class|=col]{
                padding: 5px !important;
            }
            * { 
                font-size: 0.8rem;
            }
        }
 */
    </style>
{% endblock %}

{% block content %}
    <div class="container-xl">
        <div class="container-fluid">
            <h1>Summary</h1>     
            <div class="row">
                <div class="col-4 col-lg-2">
                    <div class="box-top col-md-12 h-100">
                        <h5>Test drive</h5>
                        <p>20</p>
                    </div>
                </div>
                <div class="col-4 col-lg-2">
                    <div class="box-top col-md-12 h-100">
                        <h5>Mileages(m)</h5>
                        <p>12,970</p>
                    </div>
                </div>
                <div class="col-4 col-lg-2">
                    <div class="box-top col-md-12 h-100">
                        <h5>Auto%(avg)</h5>
                        <p>80.5</p>
                    </div>
                </div>
                <div class="col-4 col-lg-2">
                    <div class="box-top col-md-12 h-100">
                        <h5>Incident</h5>
                        <p>12</p>
                    </div>
                </div>
                <div class="col-8 col-lg-4">
                    <div class="box-top col-md-12 h-100">
                        <h5>Model</h5>
                        <div class="row justify-content-center my-auto">
                            <div class="box-model col-6 col-sm-4 col-lg-6">
                                <div class="text-center"><i>Condition 1</i></div>
                                <div class="text-center">P: <span>0.50</span>&nbsp;&nbsp;R: <span>0.17</span></div>
                            </div>
                            <div class="box-model col-6 col-sm-4 col-lg-6">
                                <div class="text-center"><i>Condition 2</i></div>
                                <div class="text-center">P: <span>0.43</span>&nbsp;&nbsp;R: <span>0.83</span></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row ">
                <div class="col-12 col-lg-6 align-self-center">
                    <div class="box col-md-12">
                        <h5>Mileages by Month</h5>
                        <div class="row">
                            <div class="col-md-8">
                                {{ chart2|safe }}
                            </div>
                            <div class="col-md-4 align-self-center">
                                {{ chart3|safe }}
                            </div>
                        </div>  
                    </div>
                </div>

                <div class="col-12 col-lg-6 align-self-center">
                    <div class="box col-md-12">
                        <h5>Mileages by Vehicle</h5>
                        <div class="row">
                            <div class="col-md-8">
                                {{ chart4|safe }}
                            </div>
                            <div class="col-md-4 align-self-center">
                                {{ chart5|safe }}
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="box col-md-12">
                        <h5>Autonomous Percentage</h5>
                        <br>
                        {{ chart1|safe }}
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="box col-md-12">
                        <h5>Incident Numbers</h5>
                        {{ incident_num_chart|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}