{% extends "base.html" %}

{% block title %}
    <title>About</title>
{% endblock %}

{% block content %}
    <!-- <form action="" method="post">
        {% csrf_token %}
        <button type="submit">download {{test}}</button>
    </form> -->
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <input type="checkbox" id="coding" name="interest" value="coding"/>
            <label for="coding">Coding</label>
        </div>
        <div>
            <input type="checkbox" id="music" name="interest" value="music" />
            <label for="music">Music</label>
        </div>
        <div>
            <input type="checkbox" id="music" name="interest" value="agage" />
            <label for="music">qefe</label>
        </div>
        <div>
            <input type="checkbox" id="music" name="interest" value="fe" />
            <label for="music">f</label>
        </div>
            
        <button type="submit">submit</button>
    </form>
    
{% endblock %}